<!-- ============================================ -->
<!--                 Navigation                   -->
<!-- ============================================ -->

<header id="cs-navigation">
    <div class="cs-top-bar">
        <div class="cs-top-container">
            <!--Nav Logo-->
            <a href="" class="cs-logo" aria-label="back to home">
                <img src="/assets/svgs/drink upland.svg" alt="logo" width="197" height="43" aria-hidden="true" decoding="async">
            </a>
            <div class="cs-contact-group">
                <a class="cs-contact-link" href="mailto:{{ client.email }}">
                    <picture class="cs-wrapper">
                        <img class="cs-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/yellow-mail.svg" alt="icon" width="24" height="24">
                    </picture>
                    <div class="cs-info">
                        <span class="cs-header">Have a Question?</span>
                        <span class="cs-link-content">Email us!</span>
                    </div>
                </a>
                <a class="cs-contact-link" href="https://www.google.com/maps/place/426+Robinson+Rd,+Warren,+VT+05674/@44.0946898,-72.8204111,17z/data=!3m1!4b1!4m6!3m5!1s0x4cb51308b1f2cfc5:0x1868a2a8e89bc37e!8m2!3d44.0946898!4d-72.8204111!16s%2Fg%2F11fj0452v1!5m1!1e4?entry=ttu&g_ep=EgoyMDI0MTAyNy4wIKXMDSoASAFQAw%3D%3D" target="_blank">
                        <span class="cs-header">Found a bug?</span>
                        <span class="cs-link-content">Email us!</span>
                    </div>
                </a>
                <a class="cs-contact-link" href="https://www.codestitch.app/" target="_blank">
                    <picture class="cs-wrapper">
                        <img class="cs-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/yellow-pin.svg" alt="icon" width="24" height="24">
                    </picture>
                    <div class="cs-info">
                        <span class="cs-header">In Vermont?</span>
                        <span class="cs-link-content">Come Visit Us!</span>
                    </div>
                </a>
                <a href="/contact" class="cs-button-solid">Contact</a>
            </div>
        </div>
    </div>
    <!--Wrapped the bottom container in a wrapper div so we can have a full width background color, and centered the container inside of it-->
    <div class="cs-bottom-bar">
        <div class="cs-container">
            <!--Navigation List-->
            <nav class="cs-nav" role="navigation">
                <!--Mobile Nav Toggle-->
                <button class="cs-toggle" aria-label="mobile menu toggle">
                    <div class="cs-box" aria-hidden="true">
                        <span class="cs-line cs-line1" aria-hidden="true"></span>
                        <span class="cs-line cs-line2" aria-hidden="true"></span>
                        <span class="cs-line cs-line3" aria-hidden="true"></span>
                    </div>
                </button>
                <!-- All CodeStitch navigations use the same HTML within the cs-ul-wrapper.
                 This one has been built with eleventyNavigation in mind, so you don't need to manually set active link styles or adjust HTML whenever a new page is added.
                 Should you wish to use this way of working, just replace the .cs-ul-wrapper in the new navigation with the one below-->
                <div class="cs-ul-wrapper">
                    <ul id="cs-expanded" class="cs-ul" aria-expanded="false">
                        {% set navPages = collections.all | eleventyNavigation %}
                        {# Loop through all pages with a eleventyNavigation in the frontmatter #}
                        {% for entry in navPages %}
                            {# Define a hasChild variable to make it easier to test what links are dropdowns#}
                            {% set hasChild = entry.children.length %}

                            {# If this page is a dropdown, give it the appropriate classes, icons and accessibility attributes#}
                            <li class="cs-li {% if hasChild %} cs-dropdown {% endif %}" {% if hasChild %} tabindex="0"{% endif %}>

                                {# Similarly, if the link is active, apply the necessary classes #}
                                <a href="{{ entry.url }}" class="cs-li-link {% if entry.url == page.url %} cs-active {% endif %}">
                                    {{ entry.key }}
                                    {% if hasChild %}
                                        <img class="cs-drop-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons%2Fdown.svg" alt="dropdown icon" width="15" height="15" decoding="async" aria-hidden="true">
                                    {% endif %}
                                </a>

                                {# Dropdowns have another ul/li set up within the parent li. Render in the same way as a normal link #}
                                {% if hasChild %}
                                    <ul class="cs-drop-ul">
                                        {% for child in entry.children %}
                                            <li class="cs-drop-li">
                                                <a href="{{ child.url }}" class="cs-li-link cs-drop-link">{{ child.key }}</a>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </nav>
            <a class="cs-call" href="https://www.reddit.com/r/codestitch" target="_blank">
                <picture class="cs-wrapper">
                    <img class="cs-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/adv-kit-reddit.svg" alt="icon" width="24" height="24">
                </picture>
                <div class="cs-info">
                    <span class="cs-header">Need help?</span>
                    <span class="cs-link-content">Visit our subreddit!</span>
                </div>
            </a>
        </div>
    </div>
</header>