---
title: "The Optimization Branch"
description: "The optimation branch of the advanced starter kit. Provides tools to optimise your website in an efficient way, including minification, bundling, automatic inlining of critical CSS, automatic asset optimization and a PostCSS pipeline."
permalink: 'contact/'
eleventyNavigation:
    key: 'Contact'
    order: '400'
---

{% extends 'layouts/base.html' %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/contact.css">
{% endblock %}

{% block body %}
<!-- ============================================ -->
<!--                   Banner                     -->
<!-- ============================================ -->

<div id="ContactBanner-721">
    <div class="cs-container">
        <span class="cs-int-title">Contact Us</span>
    </div>
    <!--Background Image-->
    <picture class="cs-background">
        <!--Mobile Image-->
        <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/contact.jpg" | resize({width: 750, height: 641}) | webp %}">
        <!--Tablet and above Image-->
        <source media="(min-width: 601px)" srcset="{% getUrl "/assets/images/contact.jpg" | resize({width: 2000, height: 696}) | webp %}">
        <img loading="lazy" decoding="async" src="{% getUrl "/assets/images/contact.jpg" | resize({width: 2000, height: 696}) | webp %}" alt="pills" width="1280" height="568" aria-hidden="true">
    </picture>
</div>

<!-- ============================================ -->
<!--                   Contact                    -->
<!-- ============================================ -->

<section id="ContactForm-721">
    <div class="cs-container">
        <picture class="cs-picture">
            <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/vermont.jpg" | resize({width: 686, height: 682}) | webp %}">
            <source media="(min-width: 601px)" srcset="{% getUrl "/assets/images/vermont.jpg" | resize({width: 924, height: 1660}) | webp %}">
            <img decoding="async" src="{% getUrl "/assets/images/vermont.jpg" | resize({width: 924, height: 1660}) | webp %}" alt="runner" width="610" height="425" aria-hidden="true">
        </picture>
        <div class="cs-content">
            <span class="cs-topper">Contact Us</span>
            <h2 class="cs-title">Get in Touch</h2>
            <p class="cs-text">
                In consequat tincidunt turpis sit amet imperdiet. Praesent Class officelan nonatoureanor mauris laoreet, iaculis libero quis. 
            </p>
            <!--Form-->
            <form class="cs-form" id="cs-form-718-721" name="Contact Form" method="post">
                <label class="cs-label">
                    Name
                    <input class="cs-input" required type="text" id="name-718-721" name="name" placeholder="Name">
                </label>
                <label class="cs-label cs-email">
                    Email
                    <input class="cs-input" required type="text" id="email-718-721" name="email" placeholder="Email">
                </label>
                <label class="cs-label cs-phone">
                    Phone
                    <input class="cs-input" required type="text" id="phone-718-721" name="phone" placeholder="Phone">
                </label>
                <label class="cs-label">
                    Message
                    <textarea class="cs-input cs-textarea" required name="Message" id="message-718-721" placeholder="Write message..."></textarea>
                </label>
                <button class="cs-button-solid cs-submit" type="submit">Make an Appointment</button>
            </form>
        </div>
    </div>
</section>
                         
<!-- ============================================ -->
<!--                   Stats                      -->
<!-- ============================================ -->

<!-- No headers, so no section tag -->
<div id="ContactStrip-721">
    <ul class="cs-stat-group">
        <li class="cs-item">
            <picture class="cs-picture">
                <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons%2Fphone-stroke-light.svg" alt="icon" width="35" height="40" loading="lazy" decoding="async" aria-hidden="true">
            </picture>
            <div class="cs-flex-group">
                <span class="cs-header">Phone</span>
                <a href="tel:555-456-7899" class="cs-link">+1 (555) 456 7899</a>
            </div>
        </li>
        <li class="cs-item">
            <picture class="cs-picture">
                <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons%2Fmail-stroke-light.svg" alt="icon" width="40" height="35" loading="lazy" decoding="async" aria-hidden="true">
            </picture>
            <div class="cs-flex-group">
                <span class="cs-header">Email</span>
                <a href="mailto:Info@email.com" class="cs-link">Info@email.com</a>
            </div>
        </li>
        <li class="cs-item">
            <picture class="cs-picture">
                <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons%2Fpin-stroke-light.svg" alt="icon" width="40" height="40" loading="lazy" decoding="async" aria-hidden="true">
            </picture>
            <div class="cs-flex-group">
                <span class="cs-header">Address</span>
                <span class="cs-address">121 King St, Melbourne VIC 300, 
                    Australia</span>
            </div>
        </li>
    </ul>
    <!--SVG Waves Background-->
    <img class="cs-background" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images%2FGraphics%2Fwaves-3.svg" alt="wave graphic" width="1920" height="318" loading="lazy" decoding="async" aria-hidden="true">
</div>
              
<!-- ============================================ -->
<!--                    Map                       -->
<!-- ============================================ -->

<section id="ContactMap-721">
    <iframe class="cs-background" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2865.4507802479357!2d-72.8204111!3d44.094689800000005!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4cb51308b1f2cfc5%3A0x1868a2a8e89bc37e!2s426%20Robinson%20Rd%2C%20Warren%2C%20VT%2005674!5e0!3m2!1sen!2sus!4v1730281366830!5m2!1sen!2sus" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</section>

<!-- ============================================ -->
<!--                     FAQ                      -->
<!-- ============================================ -->

<section id="ContactFAQ-721">
    <div class="cs-container">
        <picture class="cs-picture">
            <!--Mobile Image-->
            <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images%2FLandscapes%2Frocks-m.jpg">
            <!--Tablet and above Image-->
            <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images%2FLandscapes%2Frocks.jpg">
            <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images%2FLandscapes%2Frocks.jpg" alt="rocks" width="650" height="740" aria-hidden="true">
        </picture>
        <div class="cs-content">
            <span class="cs-topper">Have Questions?</span>
            <h2 class="cs-title">Frequently Asked Questions</h2>
            <ul class="cs-faq-group">
                <li class="cs-faq-item active">
                    <button class="cs-button">
                        <span class="cs-button-text">What types of coffee do you offer?</span>
                    </button>
                    <p class="cs-item-p">
                        We offer a variety of single-origin and blended coffees, including dark, medium, and light roasts, all carefully selected and roasted to perfection. Our coffee selection includes both classic and seasonal options.
                    </p>
                </li>
                <li class="cs-faq-item">
                    <button class="cs-button">
                        <span class="cs-button-text">How is your coffee sourced?</span>
                    </button>
                    <p class="cs-item-p">
                        We source our coffee directly from small farms and cooperatives worldwide, focusing on sustainable and ethical practices. We’re committed to quality and transparency, ensuring each cup you enjoy supports fair labor and eco-friendly farming.
                    </p>
                </li>
                <li class="cs-faq-item">
                    <button class="cs-button">
                        <span class="cs-button-text">Do you offer subscriptions?</span>
                    </button>
                    <p class="cs-item-p">
                        Yes! We offer flexible subscription options so you can enjoy our coffee regularly. Choose your favorite roast, frequency, and quantity, and we’ll deliver it fresh to your doorstep on your schedule.
                    </p>
                </li>
                <li class="cs-faq-item">
                    <button class="cs-button">
                        <span class="cs-button-text">What’s the best way to store my coffee?</span>
                    </button>
                    <p class="cs-item-p">
                        To maintain freshness, keep your coffee in a cool, dark place in an airtight container. Avoid storing it in the fridge or freezer, as moisture can affect the flavor. We recommend enjoying it within two weeks of opening.
                    </p>
                </li>
                <li class="cs-faq-item">
                    <button class="cs-button">
                        <span class="cs-button-text">Do you offer free shipping?</span>
                    </button>
                    <p class="cs-item-p">
                        Yes, we offer free standard shipping on orders over $50 within the U.S. For international shipping options and rates, please check our Shipping Policy.
                    </p>
                </li>
            </ul>
        </div>
    </div>
    <img class="cs-graphic" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons%2Fswoosh.svg" alt="swoosh" width="361" height="487" aria-hidden="true">
</section>

                                
                                
    
    {# Inlining the script tag to make it easier when merging #}
    <script>
        const faqItems = Array.from(document.querySelectorAll('.cs-faq-item'));
        for (const item of faqItems) {
            const onClick = () => {
                item
                    .classList
                    .toggle('active')
            }
            item.addEventListener('click', onClick)
        }
    </script>

{% endblock %}