---
title: "The Main Branch"
description: "The main branch of the advanced starter kit. Contains a basic 11ty setup for clients not needing much
additional functionality. Similar to our Intermediate Kits."
permalink: '/'
eleventyNavigation:
    key: 'Main'
    order: '100'
---

{% block head %}
    <link rel="stylesheet" href="/assets/css/local.css">
{% endblock %}

{% extends 'layouts/base.html' %}

{% block body %}
    <!-- ============================================ -->
    <!--                    Hero                      -->
    <!-- ============================================ -->

    <section id="hero-1621">
        <div class="cs-container">
            <div class="cs-content">
                <span class="cs-topper">Roasted in the Green Mountains</span>
                <h1 class="cs-title">
                    Upland Coffee
                </h1>
                <a href="/shop" class="cs-button-solid">Explore Now</a>
                <!--Bottom Corners-->
                <div class="cs-corners" aria-hidden="true"></div>
            </div>
            
        <!-- Background Image -->
        <picture class="cs-background">
            <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/hero-image.jpg" | resize({width: 375, height: 667}) | webp({quality: 50}) %}">
            <source media="(min-width: 601px)" srcset="{% getUrl "/assets/images/hero-image.jpg" | resize({width: 1415, height: 722}) | webp %}">
            <img loading="lazy" decoding="async" src="{% getUrl "/assets/images/hero-image.jpg" | resize({width: 1415, height: 722}) | webp %}" alt="meeting" width="630" height="630" aria-hidden="true">
        </picture>
    </section>

    <!-- ============================================ -->
    <!--                 Side By Side                 -->
    <!-- ============================================ -->

    <section id="sbs-523">
        <div class="cs-container">
            <div class="cs-content">
                <span class="cs-topper">From the Heart of Vermont</span>
                <h2 class="cs-title">To Your Home.</h2>
                <p class="cs-text">
                    Crafted with care and inspired by the rugged beauty of the Green Mountains, Upland Coffee is more than just a cup of coffee; it’s a Vermont tradition. We hand-roast each batch, blending sustainable practices with bold, distinctive flavors to bring you a coffee experience like no other.
                </p>
                <p class="cs-text">
                    Founded in 2022, Upland Coffee began as a winter project for founders Moxie and Sam Robinson after Moxie’s ACL injury put her mountain adventures on hold. Bonding over a shared passion, they discovered a love for crafting small-batch coffee that blossomed into Upland Coffee.
                </p>
                <p class="cs-text">
                    With backgrounds as diverse as Vermont itself, Moxie and Sam Robinson bring artistry, passion, and experience to each roast. From marketing to perfecting the roast, this duo has transformed Upland Coffee from a small project into a craft coffee brand that brings a taste of Vermont to you.
                </p>
                <a href="" class="cs-button-solid">Read More</a>
            </div>
            
            <div class="cs-image-group">
                <!--Large Image-->
                <picture class="cs-picture cs-picture-large">
                    <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/intro-image.jpg" | resize({width: 500, height: 720}) | webp %}">
                    <source media="(min-width: 601px)" srcset="{% getUrl "/assets/images/intro-image.jpg" | resize({width: 670, height: 940}) | webp %}">
                    <img aria-hidden="true" loading="lazy" decoding="async" src="{% getUrl "/assets/images/intro-image.jpg" | resize({width: 670, height: 940}) | webp %}" alt="Man roasting coffee">
                </picture>
                <!--Small Image-->
                <picture class="cs-picture cs-picture-small">
                    <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/sbs-cooling.jpg" | resize({width: 260, height: 220}) | webp %}">
                    <source media="(min-width: 601px)" srcset="{% getUrl "/assets/images/sbs-cooling.jpg" | resize({width: 480, height: 400}) | webp %}">
                    <img aria-hidden="true" loading="lazy" decoding="async" src="{% getUrl "/assets/images/sbs-cooling.jpg" | resize({width: 480, height: 400}) | webp %}" alt="Beans in a tray">
                </picture>
            </div>
        </div>
    </section>

<!-- ============================================ -->
<!--                Meet The Team                 -->
<!-- ============================================ -->

<section id="meet-team-1141">
    <div class="cs-container">
        <div class="cs-content">
            <div class="cs-flex">
                <span class="cs-topper">Upland Coffee</span>
                <h2 class="cs-title">Meet The Team Behind It All</h2>
                <p>Moxie and Sam founded upland Coffee in 2022 after Moxie tore her ACL. It was a project that they could bond over during the winter months that blossomed into a love for artisan coffee, and sharing it with others.</p>
            </div>
            <a href="" class="cs-button-solid">View All Members</a>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <picture class="cs-picture">
                    <!--Mobile Image-->
                    <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/Bareroots-6.jpg" | resize({width: 686, height: 850}) | webp %}">
                    <!--Tablet and above Image-->
                    <source media="(min-width: 601px)" srcset="{% getUrl "/assets/images/Bareroots-6.jpg" | resize({width: 610, height: 814}) | webp %}">
                    <img loading="lazy" decoding="async" src="{% getUrl "/assets/images/Bareroots-6.jpg" | resize({width: 610, height: 814}) | webp %}" alt="Moxie Robinson">
                </picture>
                <div class="cs-info">
                    <span class="cs-name">Moxie Robinson</span>
                    <span class="cs-job">Marketing & Branding</span>
                </div>
            </li>
            <li class="cs-item">
                <picture class="cs-picture">
                    <!--Mobile Image-->
                    <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/sam.jpg" | resize({width: 686, height: 850}) | webp %}">
                    <!--Tablet and above Image-->
                    <source media="(min-width: 601px)" srcset="{% getUrl "/assets/images/sam.jpg" | resize({width: 610, height: 814}) | webp %}">
                    <img loading="lazy" decoding="async" src="{% getUrl "/assets/images/sam.jpg" | resize({width: 610, height: 814}) | webp %}" alt="Moxie Robinson">
                </picture>
                <div class="cs-info">
                    <span class="cs-name">Sam Robinson</span>
                    <span class="cs-job">Lead Roaster</span>
                </div>
            </li>
        </ul>
    </div>
</section>

<!-- ============================================ -->
<!--                  Collection                  -->
<!-- ============================================ -->

<section id="collection-1578">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Categories</span>
            <h2 class="cs-title">Shop By Categories</h2>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <a href="/collection/coffee" class="cs-link">
                    <span class="cs-category">Coffee</span>
                    <picture class="cs-background" aria-hidden="true">
                        <source media="(max-width: 600px)"
                                srcset="{% getUrl "/assets/images/coffee.jpg" | resize({width: 686, height: 450}) | webp %}">
                        <source media="(min-width: 601px)"
                                srcset="{% getUrl "/assets/images/coffee.jpg" | resize({width: 610, height: 696}) | webp %}">
                        <img loading="lazy" decoding="async"
                                src="{% getUrl "/assets/images/coffee.jpg" | resize({width: 610, height: 696}) | webp %}"
                                alt="Cooling coffee">
                    </picture>
                </a>
            </li>
            <li class="cs-item">
                <a href="/collection/equipment" class="cs-link">
                    <span class="cs-category">Equipment</span>
                    <picture class="cs-background" aria-hidden="true">
                        <source media="(max-width: 600px)"
                                srcset="{% getUrl "/assets/images/equipment.jpg" | resize({width: 686, height: 450}) | webp %}">
                        <source media="(min-width: 601px)"
                                srcset="{% getUrl "/assets/images/equipment.jpg" | resize({width: 610, height: 696}) | webp %}">
                        <img loading="lazy" decoding="async"
                                src="{% getUrl "/assets/images/equipment.jpg" | resize({width: 610, height: 696}) | webp %}"
                                alt="Brewing with Chemex">
                    </picture>
                </a>
            </li>
            <li class="cs-item">
                <a href="/collection/frontpage" class="cs-link">
                    <span class="cs-category">Merch</span>
                    <picture class="cs-background" aria-hidden="true">
                        <source media="(max-width: 600px)"
                                srcset="{% getUrl "/assets/images/merch.jpg" | resize({width: 686, height: 450}) | webp %}">
                        <source media="(min-width: 601px)"
                                srcset="{% getUrl "/assets/images/merch.jpg" | resize({width: 610, height: 696}) | webp %}">
                        <img loading="lazy" decoding="async"
                                src="{% getUrl "/assets/images/merch.jpg" | resize({width: 610, height: 696}) | webp %}"
                                alt="Brewing with Chemex">
                    </picture>
                </a>
            </li>
        </ul>
    </div>
</section>
                                
                                

{% endblock %}