---
title: "The Main Branch"
description: "The main branch of the advanced starter kit. Contains a basic 11ty setup for clients not needing much
additional functionality. Similar to our Intermediate Kits."
permalink: '/'
eleventyNavigation:
    key: 'Main'
    order: '100'
---

{% block head %}
    <link rel="stylesheet" href="/assets/css/local.css">
{% endblock %}

{% extends 'layouts/base.html' %}

{% block body %}
    <!-- ============================================ -->
    <!--                    Hero                      -->
    <!-- ============================================ -->

    <section id="hero-1621">
        <div class="cs-container">
            <div class="cs-content">
                <span class="cs-topper">Roasted in the Green Mountains</span>
                <h1 class="cs-title">
                    Upland Coffee
                </h1>
                <a href="/shop" class="cs-button-solid">Explore Now</a>
                <!--Bottom Corners-->
                <div class="cs-corners" aria-hidden="true"></div>
            </div>
            
        <!-- Background Image -->
        <picture class="cs-background">
            <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/hero-image.jpg" | resize({width: 375, height: 667}) | webp({quality: 50}) %}">
            <source media="(min-width: 601px)" srcset="{% getUrl "/assets/images/hero-image.jpg" | resize({width: 1415, height: 722}) | webp %}">
            <img loading="lazy" decoding="async" src="{% getUrl "/assets/images/hero-image.jpg" | resize({width: 1415, height: 722}) | webp %}" alt="meeting" width="630" height="630" aria-hidden="true">
        </picture>
    </section>

    <!-- ============================================ -->
    <!--                 Side By Side                 -->
    <!-- ============================================ -->

    <section id="sbs-523">
        <div class="cs-container">
            <div class="cs-content">
                <span class="cs-topper">Lorem Ipsum</span>
                <h2 class="cs-title">Lorem ipsum dolor sit amet</h2>
                <p class="cs-text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam tincidunt quam sit amet dolor consectetur, ut suscipit felis sagittis. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Integer id dui sed leo hendrerit feugiat.
                </p>
                <p class="cs-text">
                    Curabitur ultrices, ligula a vehicula dictum, lacus ipsum cursus lectus, at fermentum metus dolor vitae odio. Proin euismod, nulla in posuere dictum, lorem eros volutpat lacus, in laoreet felis sapien vitae leo. Sed a libero quis mi ultrices laoreet in in urna.
                </p>
                <p class="cs-text">
                    Donec vel sapien sit amet nunc dictum blandit id vitae nunc. Fusce imperdiet, velit sed commodo faucibus, nunc lorem ullamcorper justo, ut facilisis neque erat ac turpis. Nulla facilisi. Suspendisse potenti. Etiam in libero ac nisi malesuada finibus sit amet id odio.
                </p>
                <a href="" class="cs-button-solid">Read More</a>
            </div>
            
            <div class="cs-image-group">
                <!--Large Image-->
                <picture class="cs-picture cs-picture-large">
                    <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/intro-image.jpg" | resize({width: 500, height: 720}) | webp %}">
                    <source media="(min-width: 601px)" srcset="{% getUrl "/assets/images/intro-image.jpg" | resize({width: 670, height: 940}) | webp %}">
                    <img aria-hidden="true" loading="lazy" decoding="async" src="{% getUrl "/assets/images/intro-image.jpg" | resize({width: 670, height: 940}) | webp %}" alt="Man roasting coffee">
                </picture>
                <!--Small Image-->
                <picture class="cs-picture cs-picture-small">
                    <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/sbs-cooling.jpg" | resize({width: 260, height: 220}) | webp %}">
                    <source media="(min-width: 601px)" srcset="{% getUrl "/assets/images/sbs-cooling.jpg" | resize({width: 480, height: 400}) | webp %}">
                    <img aria-hidden="true" loading="lazy" decoding="async" src="{% getUrl "/assets/images/sbs-cooling.jpg" | resize({width: 480, height: 400}) | webp %}" alt="Beans in a tray">
                </picture>
            </div>
        </div>
    </section>


{% endblock %}